#title{
background-color: #ff4c68;
color: white;
text-align: left;

}
#features{
padding:7% 15%;
background-color: white;
position:relative;
z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
    
}
.big-heading{
    font-family: 'Montserrat', sans-serif; 
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
    font-weight: bold;
}
h2{
    
    font-size: 3rem;
    line-height: 1.5;
    
}
h3{
    
    font-size: 1.5rem;
   
}
p{
    color:#afafaf;
    font-family: "Montserrat";
}
.container-fluid{
    padding: 3% 15% 7%;
}
body{
    font-family:'Montserrat-Black';
    text-align: center;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding:0 18px;
}
.carousel-item{
    padding:7% 15%;
}
.nav-link{
    font-size:1.2rem;
    font-family: "Montserrat";
}

.download-button{
    margin:5% 3% 5% 0%; 
    font-family: "Montserrat";
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.title-image{
    width:40%;
    transform:rotate(25deg);
    position: absolute;
    right:30%;

}
.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials{
   
    
    background-color: #ef8172;
    color: white;


}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
#press{
    background-color: #ef8172;
  ;
    padding-bottom:3% ;

}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;

}
#pricing{
    padding: 100px;
  
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
#cta{
    background-color: #ff4c68;
    color: white;
    padding:7% 15%;
    

}

#footer{
    padding: 7% 15%;
   
}
.social-icon{
    margin:20px 10px;
}